@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root{
    --branco: #FFFFFF;
    --roxo: #D787F5;
    --lilas: #C47CFF; 
    --roxoclaro: #B66CFF;
    --rosa: #F585F5;
    --rosabb: #F5AAEC;
    --rosaforte: #F52AC6;
    --botao-inativo: rgba(196, 124, 255, 1);
    --botao-ativo: rgba(182, 108, 255, 0.9);

}
body{
    background-color: var(--roxo);
    color: var(--branco);
    font-family: 'Chakra Petch','sans-serif';
}
.conteudo-principal{
    display:flex;
    flex-direction: column;
    
}