@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root{
    --branco: #FFFFFF;
    --roxo: #D787F5;
    --lilas: #C47CFF; 
    --roxoclaro: #B66CFF;
    --rosa: #F585F5;
    --rosabb: #F5AAEC;
    --rosaforte: #F52AC6;
    --botao-inativo: rgba(196, 124, 255, 1);
    --botao-ativo: rgba(182, 108, 255, 0.9);
}
body{
    background-color: var(--roxo);
    color: var(--branco);
    font-family: 'Chakra Petch','Sans-serif';
}
.conteudo-principal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: var(--roxoclaro);
}
.botao{
    font-family: 'Chakra Petch','Sans-Serif';
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}
.botoes{
    display:block
}
@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }   
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}    
   




































